################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HighResolutionTimer/v16
/.vs
/HighResolutionTimer/bin/Debug/netcoreapp2.2
/HighResolutionTimer/obj
/HighResolutionTimer/bin/Debug/netstandard2.0
/HighResolutionTimer.Demo/bin/Debug/netcoreapp2.2
/HighResolutionTimer.Demo/obj
